@font-face {
  font-family: 'Averta-Bold';
  src: url('Averta-Bold.eot');
  src: url('Averta-Bold.eot?#iefix') format('embedded-opentype'),
       url('Averta-Bold.svg#Averta-Bold') format('svg'),
       url('Averta-Bold.ttf') format('truetype'),
       url('Averta-Bold.woff') format('woff'),
       url('Averta-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

