@mixin font-face($name, $file, $weight: normal, $style: normal, $format: all)
  @font-face
    font-family: "#{$name}"

    @if ($format == "all")
      src: url('#{$file}.eot')
      src: url('#{$file}.eot?#iefix') format('embedded-opentype'), url('#{$file}.woff') format('woff'), url('#{$file}.ttf') format('truetype'), url('#{$file}.svg?#webfont') format('svg')
    @else
      src: url('#{$file}.#{$format}')
    font-weight: $weight
    font-style: $style
