@import "fonts"

@include font-face("Averta", "../fonts/averta/regular/Averta-Regular", normal, normal)
@include font-face("Averta", "../fonts/averta/bold/Averta-Bold", bold, normal)

body
  font-size: 14px
  font-family: "Averta", sans-serif !important

a
  //
  &:hover, &:focus
    text-decoration: none

#loader
  position: fixed
  display: none
  left: 0
  top: 0
  z-index: 999999999999999
  width: 100vw
  height: 100vh
  background-color: rgba(0,0,0,0.5)
  text-align: center
  line-height: 100vh
  font-size: 3rem
  color: #fff

  img
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    animation: fa-spin 1s infinite linear !important
    width: 50px
    height: 50px

#checkout

  $sm: 576px
  $md: 768px
  $lg: 992px
  $xl: 1200px
  $primary: #69CD3D

  .btn-success
    padding: 10px 20px !important
    border-radius: 5px !important
    font-size: .9rem
    font-weight: bold
    background-color: $primary
    border-color: $primary

  .btn-outline-secondary
    background: #fff
    border: 1px solid #000
    color: #000
    font-size: .75rem
    padding: 5px 20px 3px
    font-weight: bold
    border-radius: 5px
    &:hover, &:focus
      background: #000
      color: #fff

  .btn-icon
    padding: 0
    width: 25px
    height: 25px
    line-height: 26px
    text-align: center

  .text-wrap
    padding-left: 1px
    margin-left: -1px
    overflow-x: hidden

  .inner
    padding: 50px 20px
    @media (max-width: $lg)
      padding: 10px 20px

  .logo, svg
    width: 50px
    height: auto
    margin-bottom: 30px
    g
      fill: #000

  h2
    font-size: 2rem
    font-weight: bold

  input
    background-color: white
    color: #333333
    border-color: #d9d9d9
    border-radius: 5px
    padding: 0.92857em 10px
    font-size: 14px
    transition: .2s ease-out

    &:focus, &:active
      outline: none
      border-color: #111111
      box-shadow: 0 0 0 1px #111111

    &.autocomplete-content
      border-bottom-right-radius: 0
      border-bottom-left-radius: 0

  .autocomplete
    position: relative
    z-index: 2
    background: #fff
    color: #333
    border: 1px solid #d9d9d9
    border-bottom-left-radius: 5px
    border-bottom-right-radius: 5px
    padding: 5px 10px
    width: 100%
    margin-top: -1px

    .item
      margin-bottom: 3px
      cursor: pointer
      transition: .2s
      &:hover
        opacity: .6
      &:last-child
        margin-bottom: 0

  .floating-label
    position: relative

    label
      position: absolute
      z-index: 1
      color: #737373
      font-size: 10px
      top: 0
      width: 100%
      margin-top: 9px
      padding: 0 12px

    input
      padding-top: 1.5em
      padding-bottom: 0.35714em
      height: auto

  .custom-control-label
    &:after
      top: 3px
    &:before
      top: 1px
  .custom-switch .custom-control-input:checked ~ .custom-control-label
    &:before
      border-color: $primary
      background-color: $primary

  .change-step-nav-wrapper
    max-width: 700px
    margin: 0 auto

    .change-step-nav
      text-align: left

      a
        font-size: .8rem
        color: #000
        transition: .2s
        &.active, &:hover
          font-weight: bold

      i
        font-size: .75rem
        padding: 0 5px
        color: #737373

  #form
    @media (max-width: $lg)
      order: 1

  .thank-you-header
    position: relative
    font-size: 2rem
    font-weight: normal

    small
      font-size: .8rem
      opacity: .8

    img
      position: absolute
      width: 50px
      left: 0
      top: 16px
      margin-left: -70px

      @media (max-width: $lg)
        display: none

  &.final
    //
    #steps
      //
      .table-wrapper
        padding: 10px
        border: 1px solid #E1E1E1
        border-radius: 5px
        margin-bottom: 20px

        .header
          font-size: 1.3rem
          font-weight: normal
          padding-left: 10px
          margin-bottom: 20px

        table
          width: 100%

          th
            padding: 0 10px
          td
            padding: 0 10px 20px

          tr:last-child td
            padding-bottom: 0

  #steps
    max-width: 700px
    margin: 0 auto

    .back-btn
      font-size: .9rem
      color: #000

    .box
      border: 1px solid #DCDCDC
      width: 100%

      th
        width: 150px

      th, td
        padding: 10px

        &:last-child
          padding: 0
          text-align: right

          @media (max-width: $lg)
            display: none

        a
          padding: 14px 40px
          color: #ffffff
          background-color: #88B388

    .methods
      //
      input
        position: absolute
        opacity: 0

      input:checked + label:before
        background-color: #000 !important

      label
        width: 100%
        padding: 8px 15px 8px 40px
        border: 1px solid #DCDCDC
        margin-bottom: 10px
        position: relative
        font-size: .75rem
        cursor: pointer
        text-transform: uppercase
        font-weight: bold

        img
          width: 24px
          position: relative
          padding-right: 5px
          top: -2px

        &:before
          content: ''
          position: absolute
          left: 15px
          width: 15px
          height: 15px
          border-radius: 50%
          border: 3px solid #DCDCDC
          background-color: transparent
          transition: .2s

          &:hover
            background-color: #000

    .payments
      //
      .description
        font-size: .8rem
        color: #676767
        padding: 5px 15px 15px

    .shipping_desc
      font-size: .8rem

      h1,h2,h3,h4,h5,h6
        font-size: .9rem
        font-weight: bold
        padding-bottom: 0

      a
        font-weight: bold


  #items
    background-color: #FAFAFA
    border-left: 1px solid #E1E1E1
    height: 100vh
    padding-left: 30px
    padding-right: 30px
    position: fixed
    right: 0

    @media (max-width: $lg)
      position: relative
      order: 0
      height: auto
      margin-bottom: 20px
      .inner
        display: none
        padding-left: 0
        padding-right: 0

    #cart-items
      //
      td, th
        vertical-align: middle
        border-top: none
        border-bottom: 1px solid #979797
        padding: 15px 0

        a.add, a.substract
          display: inline-block !important
          @media (max-width: 1690px)
            display: block !important

        .image
          position: relative
          width: 60px
          height: 80px
          border-radius: 5px
          text-align: center
          .img-wrap
            height: 100%
            img
              width: auto
              height: 100%

          &.animate
            animation: images
            animation-duration: 2s
            animation-timing-function: ease-in-out
            animation-iteration-count: infinite
            transform-origin: top center
            transition: .2s

            .shadow-outer
              animation: image-shadow
              animation-duration: 2s
              animation-timing-function: ease-in-out
              animation-iteration-count: infinite
              transform-origin: top center
              transition: .2s
              position: absolute
              display: inline-block
              bottom: -30px
              width: 130%
              left: -15%
              height: 50px

              .shadow
                position: relative
                display: inline-block
                width: 100%
                height: 50px
                background: radial-gradient(ellipse at center, rgba(0,0,0,0.30) 30%,rgba(0,0,0,0) 70%)
                filter: blur(10px)

        small
          font-size: .85rem

        img
          height: 80px
          width: auto

      tfoot
        tr.bigger
          font-size: 1.4rem

        td, th
          border: none
          color: #000

        .small-padding
          th, td
            padding: 5px 0

    .remove-from-cart
      margin-right: 0

    .cart-qty-handler
      //
      span
        display: inline-block
        padding: 0 10px
        font-weight: bold

    #items-overview-button
      display: table
      padding: 15px 0
      background-color: #FAFAFA
      cursor: pointer

      & > div
        display: table-cell

        svg
          position: relative
          top: -3px
          width: 20px
          height: auto
          margin: 0

      .item
        width: 100%
        padding: 0 10px
        i
          position: relative
          top: 1px
          margin-left: 5px


  .footer
    position: relative
    max-width: 700px
    margin: 20px auto
    border-top: 1px solid #E1E1E1
    padding-top: 10px

    a
      color: #000
      padding-right: 10px
      font-size: .8rem

@keyframes images
  0%
    transform: translateY(-5px)
  50%
    transform: translateY(2.5px)
  100%
    transform: translateY(-5px)

@keyframes image-shadow
  0%
    transform: scale(1.05)
  50%
    transform: scale(.7)
  100%
    transform: scale(1.05)

@keyframes spin
  0%
    transform: rotate(0)
  100%
    transform: rotate(1turn)
